@mixin background-img-style($img){
    background-image: $img;
    height: 100vh;
    background-size: cover;
}

@mixin container-text-button-desktop(){
    height: 60vh;
    width: 100%;

    button{
        width: 200px;
    }    
}

@mixin navbar(){
    img{
        width: 200px;
        height: auto;
    }
}

@mixin footer(){
    width: 100%;
    background-color: black;
    column-gap: 20px;
    padding: 40px 0;
    font-size: 12px;
}

.bg{
    .text-container{
        @include container-text-button-desktop();
    }
}

.first-bg-home{
    @include background-img-style(url('/imgs/home/03.jpg'));

    .navbar{
        @include navbar();
   }

    .arrow-container{
        img{
            align-self: flex-end;
            width: 64px;
            height: 64px;
        }
    }
}

.second-bg-home{
    @include background-img-style(url('/imgs/home/02.jpg'));
}

.third-bg-home{
    @include background-img-style(url('/imgs/home/01.gif'));
}

.fourth-bg-home{
    @include background-img-style(url('/imgs/home/04.jpg'));
}

.footer{
    @include footer();
}